table {
    border-collapse:collapse;
    margin:auto;
}
td{
    /* padding:5px 10px; */
    text-align: center;
    border:1px solid #999;
    width: 100px;
}

td:hover{
    background-color:skyblue;
}

.days{
    height:50px;
}

.holiday{
    background: pink;
    color: red;
}

.grey-text{
    color:#999;
}

.today{
    background: blue;
    color: white;
    font-weight: bolder;
}

.nav{
    border: 1px solid black;
    font-size:18px;
    margin: auto;
    text-align: center;
    width:823px;
    background: lightgrey;
    border-bottom:none;

}

a:hover{
    background:black;
    color:white;
}