*{
    box-sizing: border-box;
    margin: auto;
}

table {
    border-collapse:collapse;
    margin:auto;
}
td{
    /* padding:5px 10px; */
    text-align: center;
    border:1px solid #999;
    width: 100px;
    height: 50px;
}

td:hover{
    background-color:skyblue;
}

.days{
    height:500px;
}

.holiday{
    background: pink;
    color: red;
}

.grey-text{
    color:#999;
}

.today{
    background: blue;
    color: white;
    font-weight: bolder;
}

.nav{
    border: 1px solid black;
    font-size:18px;
    margin: auto;
    text-align: center;
    width:623px;
    height: 200px;
    background: lightgrey;
    border-bottom:none;

}

a:hover{
    background:black;
    color:white;
}

.birth{
    color:black;
}

div.goToday{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100px; /* 設定高度讓垂直居中有效 */
}
.goToday a {
    text-decoration: none; /* 去掉下劃線 */
    padding: 10px 20px; /* 添加內邊距讓按鈕更大 */
    background-color: #4CAF50; /* 綠色背景 */
    color: white; /* 白色文字 */
    border-radius: 5px; /* 圓角 */
}