/* 設置box-sizing這樣不會因為padding跟margin影響總體大小 */
*{
    box-sizing: border-box;
}

/* 上方導覽 */
.nav{
    margin: auto;
    border: none;
    display: flex;
    font-size:18px;
    text-align: center;
    width:800px;
    height: 100px;
    background: white;
}

.navBar{
    width: 300px;
}

.beforeBar{
    text-align-last: left;
}

.afterBar{
    text-align: right;
}

.currentMonth{
    font-size: 20px;
    font-family:sh
}

/* 所有表格都設置置中 */
table {
    margin: auto;
    border-collapse: collapse;
    border: none;
}

td{
    text-align: center;
    width: 100px;
    height: 50px;
}

.date{
    vertical-align: top;
    height: 80px;
}
.date:hover{
    background-color:skyblue;
}

.days{
    height:500px;
}

/* 如果當天是周末的話 */
.holiday{
    color: red;
}

/* 如果當天不是這個月的日期的話 */
.notCurrentMonth{
    color:#999;
}

.today{
    background: blue;
    color: white;
    font-weight: bolder;
}



/* 移動到連結上會變色 */
a:hover{
    color:blueviolet;
}

.birth{
    color:skyblue;
    font-weight: bold;
}

div.goToday{
    display: flex;
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100px; /* 設定高度讓垂直居中有效 */
}
.goToday a {
    padding: 10px 20px; /* 添加內邊距讓按鈕更大 */
    background-color: blueviolet; /* 綠色背景 */
    color: white; /* 白色文字 */
    border-radius: 5px; /* 圓角 */
}

a{
    text-decoration: none;
}